.google-btn {
  width: 100%;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  padding: 10px;
  margin-bottom:3px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: background 0.2s;
}

.google-btn:hover {
  background: #f5f5f5;
}

.google-icon {
  width: 20px;
  height: 20px;
}
